* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sidenav-container {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index:99; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: grey; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav-show {
  width: 250px;
}
.sandwhich-btn-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.btn-sandwhichmenu {
  border: none;
  /* margin: 10px 0; */
}

.panel-overlay {
  opacity: 0;
}
.panel-overlay.active {
  background: #000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  min-height: 100vh;
  opacity: 0.35;
  transition: opacity 0.2s ease-in-out 0s;
}

/* init */
.sidenav-list-container {
  background-color: grey;
}
.collapsible {
  color: white;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.arrow-icon {
  pointer-events: none;
}

.btn-close-sideNav {
  color: white;
  font-weight: bolder;
  position: absolute;
  right: 32px;
  top: 8px;
  cursor: pointer;
}
/* custom padding for catlist- items */
.sidenav-list-container > li {
  padding-left: 11px;
  padding-right: 14px;
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
  padding-top: 5px;
}
.collapsable-container {
  width: 100%;
  list-style-type: none;
}
.collapsable-container > li {
  padding-left: 11px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}
/* font size declaration */
.sidenav-list-container > li > a {
  color: white;
  font-size: 1.05rem;
  padding-bottom: 5px;
}
.sidenav-list-container > li > div > a {
  color: white;
  font-size: 1.05rem;
}
.sidenav-list-container > li > ul > li > div > a {
  color: white;
  font-size: 1.02rem;
}
.sidenav-list-container > li > ul > li > a {
  color: white;
  font-size: 1.02rem;
  padding-bottom: 5px;
}
.sidenav-list-container > li > ul > li > ul > li > a {
  color: white;
  font-size: 1rem;
}
/* remove border from last child */
.sidenav-list-container > li:last-child {
  border: none;
}
.sidenav-list-container > li > ul > li:last-child {
  border: none;
}
.sidenav-list-container > li > ul > li > ul > li:last-child {
  border: none;
}
.sidenav-list-container > li a {
  text-decoration: none;
  cursor: pointer;
}
/* remove underline from all links */

@media (max-width: 576px) {
}
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .menu-header {
    display: block;
  }
  .sandwhich-btn-container {
    display: none;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
