.menu-header {
  display: none;
  /* background: rgba(255, 255, 255, 0.9); */
}
.menu-header > ul {
  display: flex;
  padding: 20px 0;
  list-style-type: none;
  justify-content: center;
  background: rgba(255, 255, 255, 0.4);
}
.menu-header > ul > li {
  position: relative;
  padding: 0 20px;
  margin-bottom: 5px;
  display: block;
  border-right: 1px solid white;
  width: 160px;
  height: 30px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
}
.menu-header ul {
  list-style-type: none;
}

.menu-header > ul > li:last-child {
  border-right: none;
}

/* remove text decoration */
.menu-header > ul > li > a {
  display: inline-block;
  text-decoration: none;
  color: black;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
}
.menu-header > ul > li > div > a {
  display: block;
  text-decoration: none;
  color: black;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
}
.menu-header > ul > li > ul > li:hover div > a {
  display: block;
  text-decoration: none;
  color: white;
  width: 100%;
}

.menu-header > ul > li:hover > ul {
  display: block;
}
/* 1st Inner category */
.menu-header > ul > li > ul {
  display: none;
  position: absolute;
  top: 30px;
  left: -10px;
  background-color: white;
  width: 200px;
  padding-left: 0;
  z-index: 99;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.25);
}
.menu-header > ul > li > ul > li {
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  background-color: white;
}
.menu-header.d-lg-block > ul > li > ul > li > a {
  display: inline-block;
  width: 100%;
}

/* pyramid in top of box */
.menu-header > ul > li > ul::before {
  content: "";
  position: absolute;
  z-index: 1;
  border: 13px solid black;
  top: -26px;
  left: 25%;
  transform: translateX(-50%);
  border-color: transparent transparent white transparent;
}

.menu-header > ul > li > ul > li > a {
  color: black;
  text-decoration: none;
  width: 100%;
}
.menu-header > ul > li > ul > li > div > a {
  text-decoration: none;
  color: black;
  padding-bottom: 5px;
  width: 100%;
}
.menu-header > ul > li > ul > li:hover {
  background-color: grey;
}
.menu-header > ul > li > ul > li:hover > a {
  color: white;
}
.menu-header > ul > li > ul > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  width: 100%;
}
.menu-header > ul > li > ul > li:hover > ul {
  display: block;
}

/* 2nd inner category */
.menu-header > ul > li > ul > li > ul {
  display: none;
  top: 0;
  left: 200px;
  position: absolute;
  z-index: 9999;
  width: 200px;
  background-color: white;
  padding-left: 0;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.25);
}

.menu-header > ul > li > ul > li > ul > li {
  padding-left: 10px;
  position: relative;
}

.menu-header > ul > li > ul > li > ul > li > a {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
  text-decoration: none;
}

/* 2nd nesting at hover */
.menu-header > ul > li > ul > li > ul > li:hover {
  background-color: grey;
}
.menu-header > ul > li > ul > li > ul > li:hover a {
  color: white;
}

.cat-title-with-child {
  display: flex;
  position: relative;
}
.cat-title-with-child a {
  padding-left: 0px;
  text-decoration: none;
}
.cat-title-with-child a svg {
  position: absolute;
  left: 150px;
}

/* last item align right */
.menu-header > ul > li:last-child > ul > li > ul {
  position: absolute;
  left: -200px;
}
.menu-header > ul > li:last-child > ul > li > ul > a {
  color: black;
}
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0 !important;
}
