.search-overlay {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 99;
}

.search-overlay.active {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 2s;
}

.searchBtnClose {
  color: white;
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  animation: 0.3s ease-out 0s 1 slideToTop;
}

.searchfeild {
  width: 90%;
}
.searchResults {
  width: 90%;

  max-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
}

.filter-List li {
  color: white;
}
.filter-List {
  list-style-type: none;
  background-color: gray;
  padding-left: 5px;
}
.filter_listItem {
  padding: 5px 0;
}
.filter_listItem a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  overflow: hidden;
}
#search-item-price {
  font-size: 0.8em;
}
.searcharea-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

@keyframes slideToTop {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .searchfeild,
  .searchResults {
    width: 50%;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
