.brand-logo-mnm {
  max-width: 180px;
}

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
  .brand-logo-mnm {
    max-width: 180px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .brand-logo-mnm {
    max-width: 180px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
}
