.cart-summary-sticky {
  position: sticky;
  top: 0;
}
/* 
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  object-fit: contain;
} */
.item-quantity-control{
padding-right: 5px;
}