* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.btn-quickView-container {
  height: 0px;
  position: relative;
  background-color: red;
  display: block;
  padding: 0px 5px 0px 5px;
}
.card {
  margin-left: 2.5px;
  margin-right: 2.5px;
  border: none !important;
}
.card:hover {
  border: 1px solid grey !important;
}
.card > .btn-quickView-container > .btn-quickView {
  width: 100%;
  transition: all;
  transition-duration: 400ms;
  color: white;
  margin-top: 5px;
}

.card > .btn-quickView-container > .btn-quickView:active {
  font-weight: bolder;
}

.card:hover .btn-quickView {
  position: relative;
  transform: translate(0, -36px);
}

.card .card-body {
  padding: 10px;
  z-index: 0;
  background-color: white;
  font-size: 10px;
}
.card .card-body .card-title {
  font-size: 13px;
  height: 54.15px;
  overflow: hidden;
}

/* buttons */
.btn-quickView.btn.btn-primary {
  background-color: rgba(0, 0, 0, 0.7) !important;
  border-color: rgba(0, 0, 0, 0.7) !important;
}

.btn-addToCart.btn.btn-primary {
  background-color: rgba(255, 152, 0, 0.7) !important;
  border-color: #ffb300 !important;
  border-radius: 0px;
  font-weight: bold;
  width: 100%;
}
.card-footer {
  background-color: white !important;
  border: none !important;
}
.itemcard-link {
  text-decoration: none;
  color: black;
}
.itemcard-link:hover {
  color: black;
}

/* giving size to each name */
.carditem-categoryname {
  max-height: 20px;
}
.itemcard-price {
  font-size: small;
}

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card h6 a {
    font-size: larger;
  }
  .itemcard-price {
    font-size: medium;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
