/* .slick-next {
}
.slick-next :hover {
  color: brown;
}
.slick-prev:before,
.slick-next:before {
display: none;
}
.slick-slide:hover {
  background-color: burlywood;
}
.div1:hover .div3 {
  background-color: burlywood;
}
.div1:hover .div2 {
  background-color: cadetblue;
}
.container:hover button::before {
  display: block;
} */
/* .toastmessage-container {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  z-index: 9;
} */
