.checkout-brand-logo-container {
  height: 100px;
}

.order-placement-control {
  height: 100px;
}
.login-confirm {
  height: 50px;
}
.checkout-controls-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion-body {
  border-top: 1px solid;
}
.checkout-paymentlist-item {
  border: none;
  background-color: white;
}
.input-group-text {
  background-color: white;
  border: none;
}
.order-placement-control {
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-placement-control ul {
  list-style-type: none;
  text-decoration: none;
}
.order-placement-control ul li {
  display: inline;
  padding: 0 20px;
}
.order-placement-control ul li a {
  text-decoration: none;
}
/* .oreder-summary-container {
  background-color: white;
} */

/* address container */
/* .add-address-container {
  background-color: white;
} */
/* address container end */

/* /////////////////// */

/* display address container */
.delevery-address {
  /* border: 1px solid red; */
  border-radius: 5px;
  padding: 2px;
}
/* each address container */
.addresscontainer {
  background-color: blanchedalmond;
  margin-top: 2px;

}
.checkoutstep-title {
  font-size: large;
  font-weight: bold;
}

/* no delivery zone */
.placenotdelivered{
  background-color: lightgray;
  display: block;
  align-items: center;
  padding: 5px;
  margin-bottom: 1px;
}
